.ButtonRight,
.ButtonLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    padding-bottom: 40px;
    border: 0;
    appearance: none;
    outline: none;
    background: transparent;
}
.ButtonLeft {
    flex-direction: row-reverse;
}
.ButtonRight:hover,
.ButtonLeft:hover {
    cursor: pointer;
}
.ButtonRight > p,
.ButtonLeft > p {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #513d3d;
    cursor: pointer;
    position: relative;
    background-color: #f5f3ed;
    padding: 5px;
    right: -10px;
    z-index: 2;
    transition: all 0.1s ease-in-out;
}
.ButtonLeft > p {
    left: -10px;
    right: auto;
}
.ButtonRight:hover > p {
    right: -13px;
}
.ButtonLeft:hover > p {
    left: -13px;
    right: auto;
}
.ButtonRight:hover > p,
.ButtonLeft:hover > p {
    color: #ff3b30;
}
.ButtonArrow {
    border: 3px solid #513d3d;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ButtonLeft .ButtonArrow {
    transform: rotate(180deg);
}
.ButtonRight:hover .ButtonArrow,
.ButtonLeft:hover .ButtonArrow  {
    border-color: #ff3b30;
}
.ButtonArrow > div {
    background: #513d3d;
    width: 4px;
    height: 20px;
    right: 25px;
    position: absolute;
    transform: rotate(-45deg);
    margin-top: -6px;
    transition: all 0.1s ease-in-out;
}
.ButtonArrow > div:last-child {
    transform: rotate(45deg);
    margin-top: 6px;
}
.ButtonRight:hover .ButtonArrow > div,
.ButtonLeft:hover .ButtonArrow > div {
    right: 22px;
    background: #ff3b30;
}

@media (max-width: 550px) {
    .ButtonArrow {
        width: 50px;
        height: 50px;
    }
    .ButtonArrow > div {
        width: 3px;
        height: 16px;
        right: 22px;
        margin-top: -5px;
    }
    .ButtonArrow > div:last-child {
        margin-top: 5px;
    }
}