.HomeTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    flex: 1;
}

@media (max-width: 950px) {
    .HomeTitle {
        width: 115%;
        left: 0 !important;
        top: 0 !important;
    }
}
@media (max-width: 650px) {
    .HomeTitle {
        width: 95%;
    }
}